source_up
use nix
# allow local .envrc overrides, used for secrets (see .envrc.local-template)
export HEADSCALE_CLI_ADDRESS="headscale.thalheim.io:50443"
[[ -f .envrc.local ]] && source_env .envrc.local
