source_up
use nix
# allow local .envrc overrides, used for secrets (see .envrc.local-template)
export HEADSCALE_CLI_ADDRESS="krebscale.thalheim.io:50443"
export PRIMARY_REGION=fra
[[ -f .envrc.local ]] && source_env .envrc.local
