source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/b54e2f2c4b21e32fbdab048b37e6e1492f6a5fda/direnvrc" "sha256-G+vQ70IPY+hH+zcx6b+zk7eBo577Un7irdByI+4CxCk="
use flake

use_sops() {
    local path=${1:-$PWD/secrets.yaml}
    eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
    watch_file "$path"
}
use sops $PWD/nixos/secrets/admins/drone-ci.yaml
