source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/1.2/direnvrc" "sha256-2SLi51C+LR48zKe7jzvz9ftETwWZcQVUR1oSYJslCZ0="

use flake

use_sops() {
    local path=${1:-$PWD/secrets.yaml}
    eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
    watch_file "$path"
}
use sops $PWD/nixos/secrets/admins/drone-ci.yaml
