[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/pure"]
	path = zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/zsh-autopair"]
	path = zsh/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "zsh/fast-syntax-highlighting"]
	path = zsh/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "gdb/gef-extras"]
	path = gdb/gef-extras
	url = https://github.com/hugsy/gef-extras
[submodule "gdb/gef"]
	path = gdb/gef
	url = https://github.com/hugsy/gef
[submodule "zsh/zsh-autocomplete"]
	path = zsh/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
