stages:
 - eval
 - notify-eval-error
 - build
 - notify-build

eval:
 stage: eval
 script:
   - nix run github:nix-community/nix-eval-jobs -- --workers 8 --gc-roots-dir $(pwd)/gcroot --flake '.#hydraJobs' > jobs.json
   - nix run nixpkgs/nixpkgs-unstable#jq -- -r '.attr + " " + .drvPath' < jobs.json > jobs
   - |
     echo > generated-config.yml
     while read -r line; do
       IFS=" " read attr drvPath <<< "$line"
       cat >> generated-config.yml <<EOF
       build-$attr:
         stage: build
         retry: 2
         script:
           - nix build --out-link "result-$attr" -L "$drvPath"
           - |
             if [[ -n "$CACHIX_SIGNING_KEY" ]]; then
               nix run nixpkgs/nixpkgs-unstable#cachix -- push ${CACHIX_NAME:-mic92} "result-$attr"
             fi
     EOF
     done < jobs
 artifacts:
   paths:
     - generated-config.yml
     - jobs.json

build:
 stage: build
 trigger:
    include:
      - artifact: generated-config.yml
        job: eval
    strategy: depend

notify-eval-error:
  needs: ["eval"]
  stage: notify-eval-error
  when: on_failure
  script:
    - |
        echo "eval failed ${CI_PIPELINE_URL}" | \
          LOGNAME=gitlab nix run github:Mic92/nur-packages#ircsink -- --nick=gitlab --server=irc.r --target="#xxx" || true

notify-failure:
  needs: ["build"]
  stage: notify-build
  when: on_failure
  script:
    - |
        echo "build failed ${CI_PIPELINE_URL}" | \
          LOGNAME=gitlab nix run github:Mic92/nur-packages#ircsink -- --nick=gitlab --server=irc.r --target="#xxx" || true

notify-success:
  needs: ["build"]
  stage: notify-build
  when: on_success
  script:
    - |
        echo "build succeeded ${CI_PIPELINE_URL}" | \
          LOGNAME=gitlab nix run github:Mic92/nur-packages#ircsink -- --nick=gitlab --server=irc.r --target="#xxx" || true
