stages:
  - build

build-job:
  stage: build
  script:
    - nix --extra-experimental-features "nix-command flakes" run nixpkgs/nixpkgs-unstable#nix-eval-jobs -- --workers 4 --gc-roots-dir $(pwd)/gcroot --flake '.#hydraJobs' > jobs
    - nix --extra-experimental-features "nix-command flakes" run nixpkgs/nixpkgs-unstable#jq -- -r '.drvPath' < jobs | xargs -n1 -P$(nproc) nix build -L
    - |
      if [[ -n "$CACHIX_SIGNING_KEY" ]]; then
        echo result* | nix --extra-experimental-features "nix-command flakes" run nixpkgs/nixpkgs-unstable#cachix -- push ${CACHIX_NAME:-mic92}
      fi
    - |
      if [[ -n "$GITHUB_TOKEN" ]]; then
        git -c "user.name=GitLab CI" -c "user.email=git@gitlab.com" tag -f "last-build"
        git push --force "https://Mic92:${GITHUB_TOKEN}@github.com/Mic92/${CI_PROJECT_NAME}.git" last-build
      fi
  rules:
    - if: '$CI_COMMIT_REF_NAME != "last-build"'
  after_script:
    - |
       echo "build ${CI_JOB_URL}: $CI_JOB_STATUS" | \
         LOGNAME=gitlab nix run github:Mic92/nur-packages#ircsink -- --nick=gitlab --server=irc.r --target="#xxx"
