[submodule "home/.zsh-completion"]
	path = home/.zsh-completion
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/zsh-history-substring-search"]
	path = zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/pure"]
	path = zsh/pure
	url = https://github.com/Mic92/pure.git
[submodule "zsh/deer"]
	path = zsh/deer
	url = https://github.com/Vifon/deer.git
[submodule "home-manager"]
	path = home-manager
	url = https://github.com/rycee/home-manager.git
[submodule "nix-home-manager"]
	path = nix-home-manager
	url = https://github.com/rycee/home-manager.git
[submodule "nixpkgs-config/home-manager"]
	path = nixpkgs-config/home-manager
	url = https://github.com/rycee/home-manager.git
[submodule "zsh/zsh-autopair"]
	path = zsh/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "nixos/overlays/nixpkgs-mozilla"]
	path = nixos/overlays/nixpkgs-mozilla
	url = https://github.com/mozilla/nixpkgs-mozilla.git
