[core]
  editor = vim
  excludesfile = /home/joerg/.gitignore
[format]
  pretty = oneline
[color]
  ui = true
[user]
  name = Jörg Thalheim
  email = joerg@higgsboson.tk
[merge]
  tool = vimdiff
[alias]
  comma = commit --amend
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  merge-to = "!gitmergeto() { export tmp_branch=`git branch | grep '* ' | tr -d '* '` && git checkout $1 && git merge $tmp_branch && git checkout $tmp_branch; unset tmp_branch; }; gitmergeto"
[push]
  default = simple
[rerere]
  enabled = 1
[branch]
  autosetuprebase = always
[pull]
  rebase = preserve
  autostash = true
[rebase]
  autostash = true
