[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  pager = delta --color-only
  editor = nvim-open
[include]
  path = ~/.gitconfig.local
[interactive]
  singlekey = true
[format]
  signoff = true
[color]
  branch = true
  diff = true
  status = true
[push]
  recurseSubmodules = on-demand
[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the defau
[am]
  threeWay = true
[user]
  name = Jörg Thalheim
  email = joerg@thalheim.io
  signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKbBp2dH2X3dcU1zh+xW3ZsdYROKpJd3n13ssOP092qE joerg@turingmachine
[gpg]
  format = ssh
[diff]
  compactionHeuristic = true
  renames = true
  colorMoved = default
[merge]
	tool = vimdiff
  keepBackup = false
  conflictstyle = zdiff3
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[alias]
  rb = "rebase origin/HEAD"
  clone = clone --recursive
  blame = -w -M
  update = !git pull && git submodule update --init --recursive
  comma = commit --amend
  uncommit = reset --soft HEAD^
  backport = cherry-pick -x
  checkout-pr = !"pr() { git fetch origin pull/$1/head:pr-$1; git checkout pr-$1; }; pr"
  reset-pr = reset --hard FETCH_HEAD
  force-push = push --force-with-lease
  publish = !git pull && git push
  # recover failed commit messages: https://stackoverflow.com/questions/9133526/git-recover-failed-commits-message
  recommit = !git commit -eF $(git rev-parse --git-dir)/COMMIT_EDITMSG
[push]
  default = simple
  autoSetupRemote = true
[rerere]
  autoUpdate = true
  enabled = true
[branch]
  autosetuprebase = always
  autoSetupMerge = true
[pull]
  rebase = true
  autostash = true
  twohead = ort
[rebase]
  stat = true
  autoStash = true
  autoSquash = true
  updateRefs = true

[help]
  autocorrect = 1
[mergetool]
  prompt = false
  path = nvim-open
[imap]
  folder = "Drafts"
  host = imap://imap.thalheim.io
  user = joerg@higgsboson.tk
[sendemail]
  from = joerg@thalheim.io <joerg@thalheim.io>
  smtpserver = smtp.thalheim.io
  smtpuser = joerg@higgsboson.tk
  smtpencryption = tls
  chainreplyto = false
  smtpserverport = 587
[http "github.com"]
  SSLCypherList = "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH"
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[magithub]
  online = false
[magithub "status"]
  includeStatusHeader = false
  includePullRequestsSection = false
  includeIssuesSection = false
[github]
  user = Mic92
[advice]
  detachedHead = false
  skippedCherryPicks = false
[init]
  defaultBranch = main
[credential]
  helper = store
# sucks with lazygit
#[commit]
#  gpgsign = true
[commit]
	verbose = true
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
[http]
  cookiefile = ~/.gitcookies
