[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  pager = delta
  editor = nvim
[include]
  path = ~/.gitconfig.local
[interactive]
  singlekey = true
  diffFilter = delta --color-only
[format]
  signoff = true
[color]
  branch = true
  diff = true
  status = true
[push]
  recurseSubmodules = on-demand
[submodule]
  fetchJobs = 0
[delta]
  navigate = true    # use n and N to move between diff sections
  syntax-theme = Solarized (light)
[am]
  threeWay = true
[user]
  name = Jörg Thalheim
  email = joerg@thalheim.io
  signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKbBp2dH2X3dcU1zh+xW3ZsdYROKpJd3n13ssOP092qE joerg@turingmachine
[gpg]
  format = ssh
[diff]
  compactionHeuristic = true
  renames = true
  colorMoved = default
	noprefix = true
[merge]
	tool = vimdiff
  keepBackup = false
  conflictstyle = zdiff3
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[merge "mergiraf"]
  name = mergiraf
  driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
[core]
  attributesfile = ~/.gitattributes
[alias]
  clone = clone --recursive
  blame = -w -M
  update = !git pull && git submodule update --init --recursive
  comma = commit --amend
  uncommit = reset --soft HEAD^
  backport = cherry-pick -x
  checkout-pr = !"pr() { git fetch origin pull/$1/head:pr-$1; git checkout pr-$1; }; pr"
  pick-pr = !"am() { git fetch origin pull/$1/head:pr-$1; git cherry-pick HEAD..pr-$1; }; am"
  reset-pr = reset --hard FETCH_HEAD
  force-push = push --force-with-lease
  publish = !git pull && git push
  # recover failed commit messages: https://stackoverflow.com/questions/9133526/git-recover-failed-commits-message
  recommit = !git commit -eF $(git rev-parse --git-dir)/COMMIT_EDITMSG
[push]
  default = simple
  autoSetupRemote = true
[rerere]
  autoUpdate = true
  enabled = true
[branch]
  autoSetupRebase = always
  autoSetupMerge = always
[pull]
  rebase = true
  autostash = true
  twohead = ort
[rebase]
  stat = true
  autoStash = true
  autoSquash = true
  updateRefs = true

[help]
  autocorrect = 10
[mergetool]
  prompt = false
  path = nvim-open
[imap]
  folder = "Drafts"
	host = imaps://imap.thalheim.io
  user = joerg@thalheim.io
[sendemail]
  from = Joerg Thalheim <joerg@thalheim.io>
  chainreplyto = false
  sendmailcmd = msmtp
[http "github.com"]
  SSLCypherList = "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH"
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[magithub]
  online = false
[magithub "status"]
  includeStatusHeader = false
  includePullRequestsSection = false
  includeIssuesSection = false
[github]
  user = Mic92
[advice]
  detachedHead = false
  skippedCherryPicks = false
[init]
  defaultBranch = main
[credential]
  helper = store
# sucks with lazygit
#[commit]
#  gpgsign = true
[commit]
	verbose = true
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
[http]
  cookiefile = ~/.gitcookies
#[url "git@github.com:"]
#  insteadOf = https://github.com/
[coderabbit]
	machineId = cli/d131129f12ac4836b18afc418ee2cb53
