!--------------------------------------------------------------------------------
!
!    X F T

Xft.autohint:       false
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintsligth
Xft.hinting:         true
Xft.antialias:       true
Xft.rgba:             rgb
Xft.dpi:               96

Xcursor.theme:    Neutral

!-------------------------------------------------------------------------------
!!
!!    X T E R M
!!
xterm.internalBorder:        0
xterm.loginShell:         true
xterm.scrollBar:         false
xterm.cursorBlink:       false
xterm.saveLines:         65535
xterm.dynamicColors:        on
xterm.highlightSelection: true
! Catch URLs
xterm.charClass:     33:48,35-38:48,39:43,42-47:48,58-59:48,61:48,63-64:48,126:48
! Appearance
xterm.utf8:               2
xterm.bellIsUrgent:    true
xterm.metaSendsEscape: true
xterm.eightBitInput:   true
xterm.faceName: xft:DejaVu Sans Mono for Powerline:size=10
xterm.cursorColor:  #FFFFFF