[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target

[Service]
Restart=on-failure
Type=notify
PIDFile=/run/php-fpm/php-fpm.pid
Environment="FPM_SOCKETS=/var/run/php-fpm.socket=3"
ExecStart=/usr/bin/php-fpm --nodaemonize --pid /run/php-fpm/php-fpm.pid
ExecReload=/bin/kill -USR2 $MAINPID
