export RUST_BACKTRACE=full
PATH_add target/debug{,/examples}
PATH_add target/release{,/examples}
PATH_add $HOME/.cargo/bin/

source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/b54e2f2c4b21e32fbdab048b37e6e1492f6a5fda/direnvrc" "sha256-G+vQ70IPY+hH+zcx6b+zk7eBo577Un7irdByI+4CxCk="
use flake

export AWK=$(type -P awk)
export ECHO=$(type -P echo)
export LIBTOOL=$(type -P libtool)
export MAKE=$(type -P make)
export SED=$(type -P sed)
export SORT=$(type -P sort)
export XFS_IO_PROG=$(type -P xfs_io)
export DBENCH_PROG=$(type -P dbench)
