export RUST_BACKTRACE=full
PATH_add target/debug
use nix
export AWK=$(type -P awk)
export ECHO=$(type -P echo)
export LIBTOOL=$(type -P libtool)
export MAKE=$(type -P make)
export SED=$(type -P sed)
export SORT=$(type -P sort)
export XFS_IO_PROG=$(type -P xfs_io)
