layout {

    focus-ring {
        active-color   "#5bd5fa"
        inactive-color "#111415"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#5bd5fa"
        inactive-color "#111415"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#5bd5fa"
        inactive-color "#004e60"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#5bd5fa80"
    }
}

recent-windows {
    highlight {
        active-color "#5bd5fa"
        urgent-color "#ffb4ab"
    }
}
