layout {

    focus-ring {
        active-color   "#7aa2f7"
        inactive-color "#1a1b26"
        urgent-color   "#f7768e"
    }

    border {
        active-color   "#7aa2f7"
        inactive-color "#1a1b26"
        urgent-color   "#f7768e"
    }

    shadow {
        color "#15161e70"
    }

    tab-indicator {
        active-color   "#7aa2f7"
        inactive-color "#003dbe"
        urgent-color   "#f7768e"
    }

    insert-hint {
        color "#7aa2f780"
    }
}

recent-windows {
    highlight {
        active-color "#7aa2f7"
        urgent-color "#f7768e"
    }
}
