import sys
import os
# add current directory to import path
sys.path.insert(0, os.path.join(
    os.path.dirname(os.path.dirname(os.path.realpath(__file__)))))

$fzf_history_binding = "c-r"     # Ctrl+R
$fzf_file_binding = "c-t"        # Ctrl+T
$fzf_find_command = "fd"
$fzf_find_dirs_command = "fd -t d"

import xonsh_extensions
import bincalc

_xontribs = [
   "direnv",
   "prompt_starship",
   "dracula",
   "fzf_widgets",
   "sh",
   "back2dir"
]
xontrib load @(_xontribs)

# cd-ing shortcuts.
aliases['-'] = 'cd -'
aliases['..'] = 'cd ..'
aliases['....'] = 'cd ../..'

aliases["k"] = "kubectl"
aliases["tf"] = "terraform"
aliases["vim"] = "emacseditor"
aliases["tig"] = "lazygit"
aliases["cheat"] = lambda args: $[cheat -c @(args) | less]
def moshlogin():
   if "no identifies" in $(ssh-add -L):
       ssh-add
   ssh -v eve killall mosh-server
   mosh -A eve.mosh
aliases["moshlogin"] = moshlogin

$XONSH_AUTOPAIR = True

$XONSH_HISTORY_BACKEND = "sqlite"
$HISTCONTROL = "ignoredups,ignoreerr"

$XONSH_COLOR_STYLE = "dracula"

$LESS = "-FXisRM"
$LESS_TERMCAP_mb = '\033[01;31m'     # begin blinking
$LESS_TERMCAP_me = '\033[0m'         # end mode
$LESS_TERMCAP_se = '\033[0m'         # end standout-mode
$LESS_TERMCAP_so = '\033[01;44;33m'  # begin standout-mode - info box
$LESS_TERMCAP_ue = '\033[0m'         # end underline
$LESS_TERMCAP_us = '\033[03;33;146m' # begin underline is now yellow, italic
#                            |  |----------------- yellow
#                            |-------------------- italic

# we don't want to polute the PYTHONPATH with xonsh
del $PYTHONPATH
