snippet P
P${1:id} [shape=box,color=blue,label="${2:name}\ngeb. ${3:?}\ngest. ${4:?}"];
endsnippet

snippet R
R${1:Mann}_${2:Frau} [shape=diamond,color=red,label=""];
endsnippet

snippet >
${1:Von} -> ${2:Nach} [style=bold,color=blue];
endsnippet
