use nix

# Terraform's lock files break when nix bumps it's dependencies
rm -Rf .terraform*

project_id=31493944
state_name=gitlab
username=Mic92
password=$(sops -d --output-type dotenv --extract '["GITLAB_TOKEN"]' ./secrets.enc.json)

terraform init \
   -backend-config="address=https://gitlab.com/api/v4/projects/${project_id}/terraform/state/${state_name}" \
   -backend-config="lock_address=https://gitlab.com/api/v4/projects/${project_id}/terraform/state/${state_name}/lock" \
   -backend-config="unlock_address=https://gitlab.com/api/v4/projects/${project_id}/terraform/state/${state_name}/lock" \
   -backend-config="username=${username}" \
   -backend-config="password=${password}" \
   -backend-config="lock_method=POST" \
   -backend-config="unlock_method=DELETE" \
   -backend-config="retry_wait_min=5"
