use nix

# Terraform's lock files break when nix bumps it's dependencies
rm -Rf .terraform*

password=$(sops -d --output-type dotenv --extract '["GITLAB_TOKEN"]' ./secrets.enc.json)
terraform init -backend-config="password=${password}"
