use nix

export HYDRA_PASSWORD=$(sops -d --output-type dotenv --extract '["hydra-admin-password"]' ../../secrets/secrets.yaml)

# Terraform's lock files break when nix bumps it's dependencies
rm -Rf .terraform*
terraform init
