interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://git.clan.lol/api/v1/repos/clan/clan-core/pulls/4235
  response:
    body:
      string: '{"id":5649,"url":"https://git.clan.lol/clan/clan-core/pulls/4235","number":4235,"user":{"id":96,"login":"jfly","login_name":"","source_id":0,"full_name":"","email":"jfly@noreply.git.clan.lol","avatar_url":"https://git.clan.lol/avatars/31381cf90ddd95cc148cde1caa0d353c438fe7c200b918c932f2a4a771301f4c","html_url":"https://git.clan.lol/jfly","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2025-04-19T06:22:31Z","restricted":false,"active":false,"prohibit_login":false,"location":"Bay
        Area","website":"https://www.jflei.com/","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"jfly"},"title":"Fix
        bug? `member_id` -\u003e `member_ip`","body":"(I stumbled across this while
        reading code, I haven''t tested this at\r\nall.)","labels":[],"milestone":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_reviewers_teams":[],"state":"open","draft":false,"is_locked":false,"comments":0,"additions":1,"deletions":1,"changed_files":1,"html_url":"https://git.clan.lol/clan/clan-core/pulls/4235","diff_url":"https://git.clan.lol/clan/clan-core/pulls/4235.diff","patch_url":"https://git.clan.lol/clan/clan-core/pulls/4235.patch","mergeable":true,"merged":false,"merged_at":null,"merge_commit_sha":null,"merged_by":null,"allow_maintainer_edit":true,"base":{"label":"main","ref":"main","sha":"61edc1e06fbeb55889dc7653a0728e201a198d98","repo_id":4,"repo":{"id":4,"owner":{"id":3,"login":"clan","login_name":"","source_id":0,"full_name":"","email":"","avatar_url":"https://git.clan.lol/avatars/4979df4aad36ffd7d992e838bc9c8bb4bba252ff2705efb849b0f2fae235bdd9","html_url":"https://git.clan.lol/clan","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2023-07-05T10:46:58Z","restricted":false,"active":false,"prohibit_login":false,"location":"everywhere","website":"https://clan.lol","description":"","visibility":"public","followers_count":3,"following_count":0,"starred_repos_count":0,"username":"clan"},"name":"clan-core","full_name":"clan/clan-core","description":"Build
        your own darknet","empty":false,"private":false,"fork":false,"template":false,"parent":null,"mirror":false,"size":28557,"language":"","languages_url":"https://git.clan.lol/api/v1/repos/clan/clan-core/languages","html_url":"https://git.clan.lol/clan/clan-core","url":"https://git.clan.lol/api/v1/repos/clan/clan-core","link":"","ssh_url":"gitea@git.clan.lol:clan/clan-core.git","clone_url":"https://git.clan.lol/clan/clan-core.git","original_url":"","website":"https://clan.lol/","stars_count":18,"forks_count":47,"watchers_count":9,"open_issues_count":124,"open_pr_counter":39,"release_counter":0,"default_branch":"main","archived":false,"created_at":"2023-07-07T12:19:00Z","updated_at":"2025-07-07T11:01:21Z","archived_at":"1970-01-01T00:00:00Z","permissions":{"admin":false,"push":false,"pull":true},"has_issues":true,"internal_tracker":{"enable_time_tracker":true,"allow_only_contributors_to_track_time":true,"enable_issue_dependencies":true},"has_wiki":true,"has_pull_requests":true,"has_projects":true,"projects_mode":"all","has_releases":true,"has_packages":true,"has_actions":true,"ignore_whitespace_conflicts":false,"allow_merge_commits":true,"allow_rebase":true,"allow_rebase_explicit":true,"allow_squash_merge":true,"allow_fast_forward_only_merge":false,"allow_rebase_update":true,"default_delete_branch_after_merge":true,"default_merge_style":"merge","default_allow_maintainer_edit":true,"avatar_url":"","internal":false,"mirror_interval":"","object_format_name":"sha1","mirror_updated":"0001-01-01T00:00:00Z","repo_transfer":null,"topics":["buildbot-clan","managed-by-renovate"],"licenses":null}},"head":{"label":"possible-fix","ref":"possible-fix","sha":"e0da5752010d54cd20ff68f3c61487544a76c3eb","repo_id":99,"repo":{"id":99,"owner":{"id":96,"login":"jfly","login_name":"","source_id":0,"full_name":"","email":"jeremyfleischman@gmail.com","avatar_url":"https://git.clan.lol/avatars/31381cf90ddd95cc148cde1caa0d353c438fe7c200b918c932f2a4a771301f4c","html_url":"https://git.clan.lol/jfly","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2025-04-19T06:22:31Z","restricted":fa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://git.clan.lol/api/v1/repos/clan/clan-core/statuses/e0da5752010d54cd20ff68f3c61487544a76c3eb
  response:
    body:
      string: '[{"id":5,"status":"success","target_url":"https://buildbot.clan.lol/#/builders/25/builds/6669","description":"Build
        done.","url":"https://git.clan.lol/api/v1/repos/clan/clan-core/statuses/e0da5752010d54cd20ff68f3c61487544a76c3eb","context":"buildbot/nix-build","creator":{"id":30,"login":"buildbot","login_name":"","source_id":0,"full_name":"","email":"buildbot@noreply.git.clan.lol","avatar_url":"https://git.clan.lol/avatars/bcd71314b86b15fff1dfaf1dffbc3cce","html_url":"https://git.clan.lol/buildbot","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2024-04-30T15:19:38Z","restricted":false,"active":false,"prohibit_login":false,"location":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"sta[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://buildbot.clan.lol/api/v2/builders/25/builds/6669/steps
  response:
    body:
      string: "{\n  \"meta\": {\n    \"total\": 6\n  }, \n  \"steps\": [\n    {\n
        \     \"buildid\": 1490837, \n      \"complete\": true, \n      \"complete_at\":
        1751874638, \n      \"hidden\": false, \n      \"locks_acquired_at\": 1751874638,
        \n      \"name\": \"worker_preparation\", \n      \"number\": 0, \n      \"results\":
        0, \n      \"started_at\": 1751874638, \n      \"state_string\": \"worker
        web01-087 ready\", \n      \"stepid\": 2923332, \n      \"urls\": []\n    },
        \n    {\n      \"buildid\": 1490837, \n      \"complete\": true, \n      \"complete_at\":
        1751874639, \n      \"hidden\": false, \n      \"locks_acquired_at\": 1751874638,
        \n      \"name\": \"git\", \n      \"number\": 1, \n      \"results\": 0,
        \n      \"started_at\": 1751874638, \n      \"state_string\": \"update\",
        \n      \"stepid\": 2923334, \n      \"urls\": []\n    }, \n    {\n      \"buildid\":
        1490837, \n      \"complete\": tru[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://buildbot.clan.lol/api/v2/builders/25/builds/6669
  response:
    body:
      string: "{\n  \"builds\": [\n    {\n      \"builderid\": 25, \n      \"buildid\":
        1490837, \n      \"buildrequestid\": 1493097, \n      \"complete\": true,
        \n      \"complete_at\": 1751875160, \n      \"locks_duration_s\": 43, \n
        \     \"masterid\": 1, \n      \"number\": 6669, \n      \"properties\": {},
        \n      \"results\": 0, \n      \"started_at\": 1751874638, \n      \"state_string\":
        \"build successful\", \n      \"workerid\": 93\n    }\n  ], \n  \"meta\":
        {}\n}"
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://buildbot.clan.lol/api/v2/builders/25/builds/6669/properties
  response:
    body:
      string: "{\n  \"meta\": {}, \n  \"properties\": [\n    {\n      \"aarch64-darwin.clan-app-pytest-drv_path\":
        [\n        \"/nix/store/g51d8ihwcz3hnyd07bfxch4jdsi39bic-clan-app-pytest.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.clan-app-pytest-out_path\":
        [\n        \"/nix/store/izr4dmlblq427xsl3mhlimklk12naild-clan-app-pytest\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.clan-core-for-checks-drv_path\":
        [\n        \"/nix/store/2nnixwwf558y4qc5fgipaqf54jzcp2m2-clan-core-for-checks.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.clan-core-for-checks-out_path\":
        [\n        \"/nix/store/6x2zvfif457pyqp4jm5fzbvqm83xsvfk-clan-core-for-checks\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.clan-deps-drv_path\":
        [\n        \"/nix/store/alp0fbfab615wqip4z68pn7hr3zpwdn8-clan-deps.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.clan-deps-out_path\":
        [\n        \"/nix/store/z2p473ah6kwqqys7aq2a19y0h7b2nyv5-clan-deps\", \n        \"nix-eval-nix\"\n
        \     ], \n      \"aarch64-darwin.clan-modules-json-compatible-drv_path\":
        [\n        \"/nix/store/jjb932smmqr8spaq476jagc6nhx16rx5-combined-result.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.clan-modules-json-compatible-out_path\":
        [\n        \"/nix/store/7rv96kcgli2d8xfavqsz8fwzbsn58sjp-combined-result\",
        \n        \"nix-ev[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://buildbot.clan.lol/api/v2/buildrequests/1493409?property=*
  response:
    body:
      string: "{\n  \"buildrequests\": [\n    {\n      \"builderid\": 17, \n      \"buildrequestid\":
        1493409, \n      \"buildsetid\": 1493409, \n      \"claimed\": true, \n      \"claimed_at\":
        1751874785, \n      \"claimed_by_masterid\": 1, \n      \"complete\": true,
        \n      \"complete_at\": 1751874980, \n      \"priority\": 0, \n      \"properties\":
        {\n        \"attr\": [\n          \"aarch64-darwin.eval-lib-build-clan\",
        \n          \"nix-eval-nix\"\n        ], \n        \"cacheStatus\": [\n          \"notBuilt\",
        \n          \"nix-eval-nix\"\n        ], \n        \"combine_builds\": [\n
        \         true, \n          \"nix-eval-nix\"\n        ], \n        \"default_branch\":
        [\n          \"main\", \n          \"nix-eval-nix\"\n        ], \n        \"drv_path\":
        [\n          \"/nix/store/wrqjh5ffzfxb5gn3mn782inc7hfpxjy0-tests.drv\", \n
        \         \"nix-eval-nix\"\n        ], \n        \"out_path\": [\n          \"/nix/store/zxlrhabqrp6ms46yxpsqg9imrd0w5jwj-tests\",
        \n          \"nix-eval-nix\"\n        ], \n        \"scheduler\": [\n          \"clan-clan-core-nix-build\",
        \n          \"Scheduler\"\n        ], \n        \"status_name\": [\n          \"nix-build
        gitea:clan/clan-core#checks.aarch64-darwin.eval-lib-build-clan\", \n          \"nix-eval-nix\"\n
        \       ], \n        \"system\": [\n          \"aarch64-darwin\", \n          \"nix-eval-nix\"\n
        \       ], \n        \"virtual_builder_name\": [\n          \"gitea:clan/clan-core#checks.aarch64-darwin.eval-lib-build-clan\",
        \n          \"nix-eval-nix\"\n        ], \n        \"virtual_builder_tags\":
        [\n          \"\", \n          \"nix-eval-nix\"\n        ]\n      }, \n      \"results\":
        0, \n      \"submitted_at\": 1751874785, \n      \"waited_for\": true\n    }\n
        \ ], \n  \"meta\": {}\n}"
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://buildbot.clan.lol/api/v2/buildrequests/1493409/builds
  response:
    body:
      string: "{\n  \"builds\": [\n    {\n      \"builderid\": 1045, \n      \"buildid\":
        1491149, \n      \"buildrequestid\": 1493409, \n      \"complete\": true,
        \n      \"complete_at\": 1751874980, \n      \"locks_duration_s\": 0, \n      \"masterid\":
        1, \n      \"number\": 423, \n      \"properties\": {}, \n      \"results\":
        0, \n      \"started_at\": 1751874785, \n      \"state_string\": \"build successful\",
        \n      \"workerid\": 93\n    }\n  ], \n  \"meta\": {\n    \"total\": 1\n
        \ }\n}"
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status:
      code: 200
      message: OK
[...]
