interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://git.clan.lol/api/v1/repos/clan/clan-core/pulls/4210
    response:
      body:
        string: '{"id":5621,"url":"https://git.clan.lol/clan/clan-core/pulls/4210","number":4210,"user":{"id":6,"login":"DavHau","login_name":"","source_id":0,"full_name":"","email":"davhau@noreply.git.clan.lol","avatar_url":"https://git.clan.lol/avatars/b92b551dcb146714601c59b8652171645beda9f58b0884a7c18ce2c8a59d95db","html_url":"https://git.clan.lol/DavHau","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2023-07-12T10:34:55Z","restricted":false,"active":false,"prohibit_login":false,"location":"","website":"","description":"","visibility":"public","followers_count":1,"following_count":0,"starred_repos_count":1,"username":"DavHau"},"title":"Refactor StoreBase to take machine name string instead of Machine object","body":"- Updated StoreBase.__init__ to accept machine: str and flake: Flake\n- Modified all StoreBase subclasses (in_repo, vm, fs, sops, password_store) to match new signature\n- Added select_machine method to Flake class for machine-specific attribute selection\n- Updated Machine.select to use the new Flake.select_machine method\n- Fixed all test cases to pass machine name and flake to store constructors\n- Maintained backward compatibility by keeping the same external API\n\nThis reduces coupling between the store system and the Machine class,\nmaking the architecture more modular and flexible.","labels":[],"milestone":null,"assignee":null,"assignees":[],"requested_reviewers":[{"id":46,"login":"lopter","login_name":"","source_id":0,"full_name":"","email":"lopter@noreply.git.clan.lol","avatar_url":"https://git.clan.lol/avatars/5cdf9e0c3d1eeaa088c86f3c2932b864","html_url":"https://git.clan.lol/lopter","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2024-09-26T20:35:30Z","restricted":false,"active":false,"prohibit_login":false,"location":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":1,"username":"lopter"}],"requested_reviewers_teams":[],"state":"open","draft":false,"is_locked":false,"comments":0,"html_url":"https://git.clan.lol/clan/clan-core/pulls/4210","diff_url":"https://git.clan.lol/clan/clan-core/pulls/4210.diff","patch_url":"https://git.clan.lol/clan/clan-core/pulls/4210.patch","mergeable":true,"merged":false,"merged_at":null,"merge_commit_sha":null,"merged_by":null,"allow_maintainer_edit":false,"base":{"label":"main","ref":"main","sha":"13d6db98d133d4577e7fd8725d8bb27c9c3b1808","repo_id":4,"repo":{"id":4,"owner":{"id":3,"login":"clan","login_name":"","source_id":0,"full_name":"","email":"","avatar_url":"https://git.clan.lol/avatars/4979df4aad36ffd7d992e838bc9c8bb4bba252ff2705efb849b0f2fae235bdd9","html_url":"https://git.clan.lol/clan","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2023-07-05T10:46:58Z","restricted":false,"active":false,"prohibit_login":false,"location":"everywhere","website":"https://clan.lol","description":"","visibility":"public","followers_count":3,"following_count":0,"starred_repos_count":0,"username":"clan"},"name":"clan-core","full_name":"clan/clan-core","description":"Build your own darknet","empty":false,"private":false,"fork":false,"template":false,"parent":null,"mirror":false,"size":27634,"language":"","languages_url":"https://git.clan.lol/api/v1/repos/clan/clan-core/languages","html_url":"https://git.clan.lol/clan/clan-core","url":"https://git.clan.lol/api/v1/repos/clan/clan-core","link":"","ssh_url":"gitea@git.clan.lol:clan/clan-core.git","clone_url":"https://git.clan.lol/clan/clan-core.git","original_url":"","website":"https://clan.lol/","stars_count":17,"forks_count":47,"watchers_count":9,"open_issues_count":125,"open_pr_counter":37,"release_counter":0,"default_branch":"main","archived":false,"created_at":"2023-07-07T12:19:00Z","updated_at":"2025-07-06T02:51:35Z","archived_at":"1970-01-01T00:00:00Z","permissions":{"admin":false,"push":false,"pull":true},"has_issues":true,"internal_tracker":{"enable_time_tracker":true,"allow_only_contributors_to_track_time":true,"enable_issue_dependencies":true},"has_wiki":true,"has_pull_requests":true,"has_projects":true,"projects_mode":"all","has_releases":true,"has_packages":true,"has_actions":true,"ignore_whitespace_conflicts":false,"allow_merge_commits":true,"allow_rebase":true,"allow_rebase_explicit":true,"allow_squash_merge":true,"allow_fast_forward_only_merge":false,"allow_rebase_update":true,"default_delete_branch_after_merge":true,"default_merge_style":"merge","default_allow_maintainer_edit":true,"avatar_url":"","internal":false,"mirror_interval":"","object_format_name":"sha1","mirror_updated":"0001-01-01T00:00:00Z","repo_transfer":null,"topics":["buildbot-clan","managed-by-renovate"],"licenses":null}},"head":{"label":"","ref":"refs/pull/4210/head","sha":"ed3be257951101e346392dfac24b16367b8934d6","repo_id":4,"repo":{"id":4,"owner":{"id":3,"login":"clan","login_name":"","source_id":0,"full_name":"","email":"","avatar_url":"https://git.clan.lol/avatars/4979df4aad36ffd7d992e838bc9c8bb4bba252ff2705efb849b0f2fae235bdd9","html_url":"https://git.clan.lol/clan","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2023-07-05T10:46:58Z","restricted":false,"active":false,"prohibit_login[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://git.clan.lol/api/v1/repos/clan/clan-core/statuses/ed3be257951101e346392dfac24b16367b8934d6
    response:
      body:
        string: '[{"id":5,"status":"success","target_url":"https://buildbot.clan.lol/#/builders/25/builds/6571","description":"Build done.","url":"https://git.clan.lol/api/v1/repos/clan/clan-core/statuses/ed3be257951101e346392dfac24b16367b8934d6","context":"buildbot/nix-build","creator":{"id":30,"login":"buildbot","login_name":"","source_id":0,"full_name":"","email":"buildbot@noreply.git.clan.lol","avatar_url":"https://git.clan.lol/avatars/bcd71314b86b15fff1dfaf1dffbc3cce","html_url":"https://git.clan.lol/buildbot","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2024-04-30T15:19:38Z","restricted":false,"active":false,"prohibit_login":false,"location":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"sta[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://buildbot.clan.lol/api/v2/builders/25/builds/6571/steps
    response:
      body:
        string: "{\n  \"meta\": {\n    \"total\": 6\n  }, \n  \"steps\": [\n    {\n      \"buildid\": 1465242, \n      \"complete\": true, \n      \"complete_at\": 1751710064, \n      \"hidden\": false, \n      \"locks_acquired_at\": 1751710064, \n      \"name\": \"worker_preparation\", \n      \"number\": 0, \n      \"results\": 0, \n      \"started_at\": 1751710064, \n      \"state_string\": \"worker web01-085 ready\", \n      \"stepid\": 2895091, \n      \"urls\": []\n    }, \n    {\n      \"buildid\": 1465242, \n      \"complete\": true, \n      \"complete_at\": 1751710065, \n      \"hidden\": false, \n      \"locks_acquired_at\": 1751710064, \n      \"name\": \"git\", \n      \"number\": 1, \n      \"results\": 0, \n      \"started_at\": 1751710064, \n      \"state_string\": \"update\", \n      \"stepid\": 2895092, \n      \"urls\": []\n    }, \n    {\n      \"buildid\": 1465242, \n      \"complete\": true, \n      \"complete_at\": 1751710341, \n      [...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://buildbot.clan.lol/api/v2/builders/25/builds/6571/properties
    response:
      body:
        string: "{\n  \"meta\": {}, \n  \"properties\": [\n    {\n      \"aarch64-darwin.clan-app-pytest-drv_path\": [\n        \"/nix/store/jzr1y47szmx9ajzdcffc0940ndqc7qpr-clan-app-pytest.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.clan-app-pytest-out_path\": [\n        \"/nix/store/6vi16hi26rj8h6fjdgr9rwz4a84bkl12-clan-app-pytest\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.clan-core-for-checks-drv_path\": [\n        \"/nix/store/b140hykdf0iid8vhylfyvs7fs1m3hpg6-clan-core-for-checks.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.clan-core-for-checks-out_path\": [\n        \"/nix/store/i532vyck1zsa18cbr1w14bcnxpg96ay4-clan-core-for-checks\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.clan-deps-drv_path\": [\n        \"/nix/store/n8zn0wx82x0mmlycprhphrwsfl742w9p-clan-deps.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.clan-deps-out_path\": [\n        \"/nix/store/mzj7b63x24ci8pzkzc51i0xapzvqbway-clan-deps\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.clan-modules-json-compatible-drv_path\": [\n        \"/nix/store/jjb932smmqr8spaq476jagc6nhx16rx5-combined-result.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.clan-modules-json-compatible-out_path\": [\n        \"/nix/store/7rv96kcgli2d8xfavqsz8fwzbsn58sjp-combined-result\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.clan-[...]
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://buildbot.clan.lol/api/v2/buildrequests/1467983
    response:
      body:
        string: "{\n  \"buildrequests\": [\n    {\n      \"builderid\": 9, \n      \"buildrequestid\": 1467983, \n      \"buildsetid\": 1467983, \n      \"claimed\": true, \n      \"claimed_at\": 1751710345, \n      \"claimed_by_masterid\": 1, \n      \"complete\": true, \n      \"complete_at\": 1751710346, \n      \"priority\": 0, \n      \"properties\": null, \n      \"results\": 3, \n      \"submitted_at\": 1751710341, \n      \"waited_for\": true\n    }\n  ], \n  \"meta\": {}\n}"
      headers:
        Content-Type:
          - text/plain; charset=utf-8
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://buildbot.clan.lol/api/v2/buildrequests/1467983/builds
    response:
      body:
        string: "{\n  \"builds\": [\n    {\n      \"builderid\": 808, \n      \"buildid\": 1465744, \n      \"buildrequestid\": 1467983, \n      \"complete\": true, \n      \"complete_at\": 1751710346, \n      \"locks_duration_s\": 0, \n      \"masterid\": 1, \n      \"number\": 3090, \n      \"properties\": {}, \n      \"results\": 3, \n      \"started_at\": 1751710345, \n      \"state_string\": \"build successful\", \n      \"workerid\": 113\n    }\n  ], \n  \"meta\": {\n    \"total\": 1\n  }\n}"
      headers:
        Content-Type:
          - text/plain; charset=utf-8
      status:
        code: 200
        message: OK
[...]
