interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.github.com/repos/TUM-DSE/doctor-cluster-config/pulls/459
    response:
      body:
        string: '{"url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/pulls/459","id":2644217670,"node_id":"PR_kwDOLlUsKc6dm49G","html_url":"https://github.com/TUM-DSE/doctor-cluster-config/pull/459","diff_url":"https://github.com/TUM-DSE/doctor-cluster-config/pull/459.diff","patch_url":"https://github.com/TUM-DSE/doctor-cluster-config/pull/459.patch","issue_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/issues/459","number":459,"state":"open","locked":false,"title":"24.11 -> 25.05","user":{"login":"Mic92","id":96200,"node_id":"MDQ6VXNlcjk2MjAw","avatar_url":"https://avatars.githubusercontent.com/u/96200?v=4","gravatar_id":"","url":"https://api.github.com/users/Mic92","html_url":"https://github.com/Mic92","followers_url":"https://api.github.com/users/Mic92/followers","following_url":"https://api.github.com/users/Mic92/following{/other_user}","gists_url":"https://api.github.com/users/Mic92/gists{/gist_id}","starred_url":"https://api.github.com/users/Mic92/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Mic92/subscriptions","organizations_url":"https://api.github.com/users/Mic92/orgs","repos_url":"https://api.github.com/users/Mic92/repos","events_url":"https://api.github.com/users/Mic92/events{/privacy}","received_events_url":"https://api.github.com/users/Mic92/received_events","type":"User","user_view_type":"public","site_admin":false},"body":null,"created_at":"2025-07-06T04:02:24Z","updated_at":"2025-07-06T04:07:26Z","closed_at":null,"merged_at":null,"merge_commit_sha":"2afa5723eaae0a71987f450a5707ce31b21c1ca0","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/pulls/459/commits","review_comments_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/pulls/459/comments","review_comment_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/pulls/comments{/number}","comments_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/issues/459/comments","statuses_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/statuses/f837eceee23a44f00f31f7ce15fce335be2d016f","head":{"label":"TUM-DSE:release-upgrade","ref":"release-upgrade","sha":"f837eceee23a44f00f31f7ce15fce335be2d016f","user":{"login":"TUM-DSE","id":92796258,"node_id":"O_kgDOBYf1Yg","avatar_url":"https://avatars.githubusercontent.com/u/92796258?v=4","gravatar_id":"","url":"https://api.github.com/users/TUM-DSE","html_url":"https://github.com/TUM-DSE","followers_url":"https://api.github.com/users/TUM-DSE/followers","following_url":"https://api.github.com/users/TUM-DSE/following{/other_user}","gists_url":"https://api.github.com/users/TUM-DSE/gists{/gist_id}","starred_url":"https://api.github.com/users/TUM-DSE/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/TUM-DSE/subscriptions","organizations_url":"https://api.github.com/users/TUM-DSE/orgs","repos_url":"https://api.github.com/users/TUM-DSE/repos","events_url":"https://api.github.com/users/TUM-DSE/events{/privacy}","received_events_url":"https://api.github.com/users/TUM-DSE/received_events","type":"Organization","user_view_type":"public","site_admin":false},"repo":{"id":777333801,"node_id":"R_kgDOLlUsKQ","name":"doctor-cluster-config","full_name":"TUM-DSE/doctor-cluster-config","private":false,"owner":{"login":"TUM-DSE","id":92796258,"node_id":"O_kgDOBYf1Yg","avatar_url":"https://avatars.githubusercontent.com/u/92796258?v=4","gravatar_id":"","url":"https://api.github.com/users/TUM-DSE","html_url":"https://github.com/TUM-DSE","followers_url":"https://api.github.com/users/TUM-DSE/followers","following_url":"https://api.github.com/users/TUM-DSE/following{/other_user}","gists_url":"https://api.github.com/users/TUM-DSE/gists{/gist_id}","starred_url":"https://api.github.com/users/TUM-DSE/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/TUM-DSE/subscriptions","organizations_url":"https://api.github.com/users/TUM-DSE/orgs","repos_url":"https://api.github.com/users/TUM-DSE/repos","events_url":"https://api.github.com/users/TUM-DSE/events{/privacy}","received_events_url":"https://api.github.com/users/TUM-DSE/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/TUM-DSE/doctor-cluster-config","description":"The servers configurations of https://dse.in.tum.de/","fork":false,"url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config","forks_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/forks","keys_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/keys{/key_id}","collaborators_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/teams","hooks_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/hooks","issue_events_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/issues/events{/number}","events_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/events","assignees_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/assignees{/user}","branches_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/branches{/branch}","tags_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/tags","blobs_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/git/refs{/sha}","trees_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/git/trees{/sha}","statuses_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/statuses/{sha}","languages_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/languages","stargazers_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/stargazers","contributors_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/contributors","subscribers_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/subscribers","subscription_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/subscription","commits_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/commits{/sha}","git_commits_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/git/commits{/sha}","comments_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/comments{/number}","issue_comment_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/issues/comments{/number}","contents_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/contents/{+path}","compare_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/compare/{base}...{head}","merges_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/merges","archive_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/downloads","issues_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/issues{/number}","pulls_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/pulls{/number}","milestones_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/milestones{/number}","notifications_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/labels{/name}","releases_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/releases{/id}","deployments_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/deployments","created_at":"2024-03-25T16:49:56Z","updated_at":"2025-07-06T04:02:00Z","pushed_at":"2025-07-06T04:11:27Z","git_url":"git://github.com/TUM-DSE/doctor-cluster-config.git","ssh_url":"git@github.com:TUM-DSE/doctor-cluster-config.git","clone_url":"https://github.com/TUM-DSE/doctor-cluster-config.git","svn_url":"https://github.com/TUM-DSE/doctor-cluster-config","homepage":"","size":7524,"stargazers_count":36,"watchers_count":36,"language":"Nix","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":13,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":8,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":["buildbot-tum-dse"],"visibility":"public","forks":13,"open_issues":8,"watchers":36,"default_branch":"master"}},"base":{"label":"TUM-DSE:master","ref":"master","sha":"3b344c4ed209619a08af5a8ac7d280c2dc8c3c3b","user":{"login":"TUM-DSE","id":92796258,"node_id":"O_kgDOBYf1Yg","avatar_url":"https://avatars.githubusercontent.com/u/92796258?v=4","gravatar_id":"","url":"https://api.github.com/users/TUM-DSE","html_url":"https://github.com/TUM-DSE","followers_url":"https://api.github.com/users/TUM-DSE/followers","following_url":"https://api.github.com/users/TUM-DSE/following{/other_user}","gists_url":"https://api.github.[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.github.com/repos/TUM-DSE/doctor-cluster-config/commits/f837eceee23a44f00f31f7ce15fce335be2d016f/check-runs
    response:
      body:
        string: '{"total_count":1,"check_runs":[{"id":45416992069,"name":"automerge","node_id":"CR_kwDOLlUsKc8AAAAKkxBNRQ","head_sha":"f837eceee23a44f00f31f7ce15fce335be2d016f","external_id":"ecc95915-b450-5fa9-bd27-9b6b6807a82e","url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/check-runs/45416992069","html_url":"https://github.com/TUM-DSE/doctor-cluster-config/actions/runs/16095121971/job/45416992069","details_url":"https://github.com/TUM-DSE/doctor-cluster-config/actions/runs/16095121971/job/45416992069","status":"completed","conclusion":"success","started_at":"2025-07-06T04:07:32Z","completed_at":"2025-07-06T04:07:35Z","output":{"title":null,"summary":null,"text":null,"annotations_count":0,"annotations_url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/check-runs/45416992069/annotations"},"check_suite":{"id":41237819933},"app":{"id":15368,"client_id":"Iv1.05c79e9ad1f6bdfa","slug":"github-actions","node_id":"MDM6QXBwMTUzNjg=","owner":{"login":"github","id":9919,"node_id":"MDEyOk9yZ2FuaXphdGlvbjk5MTk=","avatar_url":"https://avatars.githubusercontent.com/u/9919?v=4","gravatar_id":"","url":"https://api.github.com/users/github","html_url":"https://github.com/github","followers_url":"https://api.github.com/users/github/followers","following_url":"https://api.github.com/users/github/following{/other_user}","gists_url":"https://api.github.com/users/github/gists{/gist_id}","starred_url":"https://api.github.com/users/github/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github/subscriptions","organizations_url":"https://api.github.com/users/github/orgs","repos_url":"https://api.github.com/users/github/repos","events_url":"https://api.github.com/users/github/events{/privacy}","received_events_url":"https://api.github.com/users/github/received_events","type":"Organization","user_view_type":"public","site_admin":false},"name":"GitHub Actions","description":"Automate your workflow from idea to production","external_url":"https://help.github.com/en/actions","html_url":"https://github.com/apps/github-actions","created_at":"2018-07-30T09:30:17Z","updated_at":"2025-03-07T16:35:00Z","permissions":{"actions":"write","administration":"read","attestations":"write","checks":"write","contents":"write","deployments":"write","discussions":"write","issues":"write","merge_queues":"write","metadata":"read","models":"read","packages":"write","pages":"write","pull_requests":"write","repository_hooks":"write","repository_projects":"write","security_events":"write","statuses":"write","vulnerability_alerts":"read"},"events":["branch_protection_rule","check_run","check_suite","create","delete","deployment","deployment_status","discussion","discussion_comment","fork","gollum","issues","issue_comment","label","merge_group","milestone","page_build","project","project_card","project_column","public","pull_request","pull_request_review","pull_request_review_comment","push","registry_package","release","repository","repository_dispatch","status","watch","workflow_dispatch","workflow_run"]},"pull_requests":[{"url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/pulls/459","id":2644217670,"number":459,"head":{"ref":"release-upgrade","sha":"f837eceee23a44f00f31f7ce15fce335be2d016f","repo":{"id":777333801,"url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config","name":"doctor-cluster-config"}},"base":{"ref":"master","sha":"3b344c4ed209619a08af5a8ac7d280c2dc8c3c3b","repo":{"id":777333801,"url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config","name":"doctor-cluster-config"}}}]}]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        ETag:
          - '"8b8ed49bc29280c94f59670ac992ec0c32419f2c21dd261784028ec4df5bee4c"'
        X-Accepted-OAuth-Scopes:
          - ""
        X-GitHub-Media-Type:
          - github.v3; format=json
        X-OAuth-Scopes:
          - gist, read:org, repo, workflow
        X-RateLimit-Limit:
          - "5000"
        X-RateLimit-Remaining:
          - "4932"
        X-RateLimit-Reset:
          - "1751784117"
        X-RateLimit-Resource:
          - core
        X-RateLimit-Used:
          - "68"
        x-github-api-version-selected:
          - "2022-11-28"
        x-oauth-client-id:
          - 178c6fc778ccc68e1d6a
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.github.com/repos/TUM-DSE/doctor-cluster-config/commits/f837eceee23a44f00f31f7ce15fce335be2d016f/status
    response:
      body:
        string: '{"state":"pending","statuses":[{"url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/statuses/f837eceee23a44f00f31f7ce15fce335be2d016f","avatar_url":"https://avatars.githubusercontent.com/u/92796258?v=4","id":37474142186,"node_id":"SC_kwDOLlUsKc8AAAAIuaIH6g","state":"success","description":"Build done.","target_url":"https://buildbot.dse.in.tum.de/#/builders/18/builds/710","context":"buildbot/nix-eval","created_at":"2025-07-06T04:11:37Z","updated_at":"2025-07-06T04:11:37Z"},{"url":"https://api.github.com/repos/TUM-DSE/doctor-cluster-config/statuses/f837eceee23a44f00f31f7ce15fce335be2d016f","avatar_url":"https://avatars.githubusercontent.com/u/92796258?v=4","id":37474142414,"node_id":"SC_kwDOLlUsKc8AAAAIuaIIzg","state":"pending","description":"Build done.","target_url":"https://buildbot.dse.in.tum.de/#/builders/18/builds/710","context":"buildbot/nix-build","created_at":"2025[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://buildbot.dse.in.tum.de/api/v2/builders/39/builds/696/steps
    response:
      body:
        string: "{\n  \"meta\": {\n    \"total\": 5\n  }, \n  \"steps\": [\n    {\n      \"buildid\": 31186, \n      \"complete\": true, \n      \"complete_at\": 1751775088, \n      \"hidden\": false, \n      \"locks_acquired_at\": 1751775087, \n      \"name\": \"worker_preparation\", \n      \"number\": 0, \n      \"results\": 0, \n      \"started_at\": 1751775087, \n      \"state_string\": \"worker graham-043 ready\", \n      \"stepid\": 128782, \n      \"urls\": []\n    }, \n    {\n      \"buildid\": 31186, \n      \"complete\": true, \n      \"complete_at\": 1751775180, \n      \"hidden\": false, \n      \"locks_acquired_at\": 1751775088, \n      \"name\": \"Build flake attr\", \n      \"number\": 1, \n      \"results\": 0, \n      \"started_at\": 1751775088, \n      \"state_string\": \"'nix build ...'\", \n      \"stepid\": 128790, \n      \"urls\": []\n    }, \n    {\n      \"buildid\": 31186, \n      \"complete\": true, \n      \"complete_at\": 175[...]
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://buildbot.dse.in.tum.de/api/v2/builders/18/builds/710/properties
    response:
      body:
        string: "{\n  \"meta\": {}, \n  \"properties\": [\n    {\n      \"aarch64-linux.devShell-ansible-drv_path\": [\n        \"/nix/store/jlkiv0vf24975ddmz4r33wn2ygngxi02-nix-shell.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.devShell-ansible-out_path\": [\n        \"/nix/store/y0bnsv46zn7gpryiv47rzxl8i6hax9i8-nix-shell\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.devShell-default-drv_path\": [\n        \"/nix/store/0yi413i4fq3mxc1fi8y8fjza5plj7yw1-nix-shell.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.devShell-default-out_path\": [\n        \"/nix/store/bdbsc4v1s33n6mclp08clkcqpr7460mx-nix-shell\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.nixos-ace-drv_path\": [\n        \"/nix/store/cijwxbyj335ihlgcn9zwxsscj23i7ch6-nixos-system-ace-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.nixos-ace-out_path\": [\n        \"/nix/store/a3s1rl62lz8bqvra12abr7ihdqskjk8j-nixos-system-ace-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.nixos-donna-drv_path\": [\n        \"/nix/store/fxadavm1kswl7lfxyd0mpganbh0ag5ln-nixos-system-donna-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.nixos-donna-out_path\": [\n        \"/nix/store/y15r91y9c4v27y3iv5rcwg95809ig45g-nixos-system-donna-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.nixos-yasmin-drv_path\": [\n        \"/nix/store/rv40dm2q2jhbllyx255g66bv59jmlxi5-nixos-system-yasmin-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.nixos-yasmin-out_path\": [\n        \"/nix/store/3c2r1r1s8p0942fkld2a7aimj63b03lk-nixos-system-yasmin-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"basedir\": [\n        \"/var/lib/buildbot-worker/worker-053\", \n        \"Worker\"\n      ], \n      \"basename\": [\n        \"master\", \n        \"Change\"\n      ], \n      \"branch\": [\n        \"refs/pull/459/merge\", \n        \"Build\"\n      ], \n      \"builddir\": [\n        \"/var/lib/buildbot-worker/worker-053/TUM-DSE_doctor-cluster-config_nix-eval\", \n        \"Worker\"\n      ], \n      \"builderid\": [\n        18, \n        \"Builder\"\n      ], \n      \"buildername\": [\n        \"TUM-DSE/doctor-cluster-config/nix-eval\", \n        \"Builder\"\n      ], \n      \"buildnumber\": [\n        710, \n        \"Build\"\n      ], \n      \"codebase\": [\n        \"\", \n        \"Build\"\n      ], \n      \"event\": [\n        \"pull_request\", \n        \"Change\"\n      ], \n      \"github.base.sha\": [\n        \"3b344c4ed209619a08af5a8ac7d280c2dc8c3c3b\", \n        \"Change\"\n      ], \n      \"github.head.sha\": [\n        \"f837eceee23a44f00f31f7ce15fce335be2d016f\", \n        \"Change\"\n      ], \n      \"got_revision\": [\n        \"f837eceee23a44f00f31f7ce15fce335be2d016f\", \n        \"GitLocalPrMerge\"\n      ], \n      \"owners\": [\n        [\n          \"Mic92\"\n        ], \n        \"Build\"\n      ], \n      \"project\": [\n        \"TUM-DSE/doctor-cluster-config\", \n        \"Build\"\n      ], \n      \"projectid\": [\n        1, \n        \"Builder\"\n      ], \n      \"projectname\": [\n        \"TUM-DSE/doctor-cluster-config\", \n        \"Builder\"\n      ], \n      \"pullrequesturl\": [\n        \"https://github.com/TUM-DSE/doctor-cluster-config/pull/459\", \n        \"Change\"\n      ], \n      \"repository\": [\n        \"https://github.com/TUM-DSE/doctor-cluster-config\", \n        \"Build\"\n      ], \n      \"revision\": [\n        \"f837eceee23a44f00f31f7ce15fce335be2d016f\", \n        \"Build\"\n      ], \n      \"scheduler\": [\n        \"TUM-DSE-doctor-cluster-config-prs\", \n        \"Scheduler\"\n      ], \n      \"status_name\": [\n        \"nix-eval\", \n        \"Builder\"\n      ], \n      \"workername\": [\n        \"graham-053\", \n        \"Worker\"\n      ], \n      \"x86_64-linux.devShell-ansible-drv_path\": [\n        \"/nix/store/jy5070xgjhaydrx187d9w5qk9d19i96i-nix-shell.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.devShell-ansible-out_path\": [\n        \"/nix/store/20azih16xw7qd0lxha063mxvgvwcwrg3-nix-shell\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.devShell-default-drv_path\": [\n        \"/nix/store/b4zn0pqkkxjzf5cya30a2ys3b9yr9i6d-nix-shell.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.devShell-default-out_path\": [\n        \"/nix/store/gn1ddwvaxzjg8gmnahiwy61pwz82qmnb-nix-shell\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-adelaide-drv_path\": [\n        \"/nix/store/jqhh20lv4m09w2gcgp2db97kksv800zx-nixos-system-adelaide-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-adelaide-out_path\": [\n        \"/nix/store/f2f01zdxbdxrkp30m85ahp0ddas277jf-nixos-system-adelaide-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-amy-drv_path\": [\n        \"/nix/store/qaldycbvhg1yavdiw571lb9iaqghbn55-nixos-system-amy-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-amy-out_path\": [\n        \"/nix/store/70zg4zkkcb0ayyzzwv43k26cga5x6ik3-nixos-system-amy-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-astrid-drv_path\": [\n        \"/nix/store/9av4b0i79l62rzl993zlv0gq9drzcg1w-nixos-system-astrid-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-astrid-out_path\": [\n        \"/nix/store/j911mff9p0ap0fp31fna582ilxcl2da9-nixos-system-astrid-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-bill-drv_path\": [\n        \"/nix/store/38l1ckzv0cqi4kzr0gnzwgsd2fx1bn81-nixos-system-bill-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-bill-out_path\": [\n        \"/nix/store/kwyf97ni3gd9hh7dlw5ybn0q5c2mrk8l-nixos-system-bill-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-christina-drv_path\": [\n        \"/nix/store/zpwrbaar3whxdfcka6d8g4xs7921mcyh-nixos-system-christina-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-christina-out_path\": [\n        \"/nix/store/v8y2sj9krkdnac82cqy39vvwx3b9ybb9-nixos-system-christina-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-clara-drv_path\": [\n        \"/nix/store/dyad0yp76kfkxbkz4hxzv7996wssv937-nixos-system-clara-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-clara-out_path\": [\n        \"/nix/store/d51pd826hdizzandkn3fgd66cspa7prw-nixos-system-clara-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-dan-drv_path\": [\n        \"/nix/store/19lm069szsf91mfinkcll1scgmzp6awl-nixos-system-dan-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-dan-out_path\": [\n        \"/nix/store/rl51vq6scd913s3idw7xl16m788yszl0-nixos-system-dan-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-doctor-drv_path\": [\n        \"/nix/store/0mcic6v6ik3xvlyy3ddxvi8ipkrnjval-nixos-system-doctor-lxc-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-doctor-out_path\": [\n        \"/nix/store/7xz2gmlj343insk16h30pbg5njhb8qg6-nixos-system-doctor-lxc-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-eliza-drv_path\": [\n        \"/nix/store/dkzyxp2721mq8asc333m8ckq139ks70p-nixos-system-eliza-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-eliza-out_path\": [\n        \"/nix/store/pfcid2xbxnmm03868as3czjfpkz6magm-nixos-system-eliza-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-graham-drv_path\": [\n        \"/nix/store/270lhgxyqs6svnxrim5gzxq2czjix53a-nixos-system-graham-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-graham-out_path\": [\n        \"/nix/store/qixa1d9lixardv08zhfs6l2r6m1sjwmp-nixos-system-graham-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-ian-drv_path\": [\n        \"/nix/store/vr58xa71b9krxh69221argbaz9z2zhkb-nixos-system-ian-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-ian-out_path\": [\n        \"/nix/store/jpdw9nwm66763lk2zygb16qc7alndidw-nixos-system-ian-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-irene-drv_path\": [\n        \"/nix/store/wkflh8phc063p6qyicaj1zy32lfw361c-nixos-system-irene-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-irene-out_path\": [\n        \"/nix/store/sa12pv40ip6zy7lkcvqa5q5xn13gm5gp-nixos-system-irene-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-jack-drv_path\": [\n        \"/nix/store/y0v8pg4rfvnwsdl6930l5xvq37h8bq3m-nixos-system-jack-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-jack-out_path\": [\n        \"/nix/store/ixmr49x916rdv1m5d63dwxg1w1v567vd-nixos-system-jack-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-jackson-drv_path\": [\n        \"/nix/store/xq400j824xhyvg257fdp9m1cyb2gk77p-nixos-system-jackson-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-jackson-out_path\": [\n        \"/nix/store/r60mnpy1a9gngb2qllyf34xwfqgfdgc8-nixos-system-jackson-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-jamie-drv_path\": [\n        \"/nix/store/qh9m69iv2lmlq4x7mp0nvr2m2bk9lmws-nixos-system-jamie-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-jamie-out_path\": [\n        \"/nix/store/jpgcm26n279fbxbm61gr97ymw4wxywim-nixos-system-jamie-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-joy-drv_path\": [\n        \"/nix/store/7hjgbqdf40f4yabs7vpvhxka5h7vjywv-nixos-system-joy-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-joy-out_path\": [\n        \"/nix/store/2b5339b3572f98gclb4ah8rv9jdhggqq-nixos-system-joy-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-martha-drv_path\": [\n        \"/nix/store/vgdjr829cvlw63jgf6hcxri2a78zwrr9-nixos-system-martha-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-martha-out_path\": [\n        \"/nix/store/v0gx7dzqqwv1cmzp28qim09n4jliakya-nixos-system-martha-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-mickey-drv_path\": [\n        \"/nix/store/3mdp3vfm7amggngxlc9835plafrwhrhy-nixos-system-mickey-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-mickey-out_path\": [\n        \"/nix/store/3cd9mpljsiwxksn3dmdc3gdvxyj1b53h-nixos-system-mickey-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-nardole-drv_path\": [\n        \"/nix/store/ysfx4vwmy4inqlhcmxvrxszax483q6zb-nixos-system-nardole-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-nardole-out_path\": [\n        \"/nix/store/k01v5s99dy68wq4lfxnx3m15kj0gfbfk-nixos-system-nardole-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-river-drv_path\": [\n        \"/nix/store/3n7kz8frxymig91dnf3kflkdc5xcay5h-nixos-system-river-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-river-out_path\": [\n        \"/nix/store/ccxr81i5gmzlp8wvh8zjzywwf4l4ca48-nixos-system-river-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-rose-drv_path\": [\n        \"/nix/store/vskn1c28hlnn1wqaghk1am0cmkw57khd-nixos-system-rose-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-rose-out_path\": [\n        \"/nix/store/8g06x6fm4sab6pw5mzy0fjxrd7xs5903-nixos-system-rose-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-ruby-drv_path\": [\n        \"/nix/store/pl54x38ywdpn3j2rl90wid09v87bqpym-nixos-system-ruby-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-ruby-out_path\": [\n        \"/nix/store/53kb9aapzr0y7ilsrwcwasnmca1a3i9g-nixos-system-ruby-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-ryan-drv_path\": [\n        \"/nix/store/w0wbdzqjmmb5r7blh09z6j02jqdj7g8i-nixos-system-ryan-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-ryan-out_path\": [\n        \"/nix/store/rv7ihs17w73l9sz2f1yzh0xy2xahxij8-nixos-system-ryan-25.05.20250706.6bd3df1\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-tegan-drv_path\": [\n        \"/nix/store/z79gp16r6055zdjxbzpyh3pnzlg5chac-nixos-system-tegan-25.05.20250706.6bd3df1.drv\", \n        \"nix-eval-nix\"\n      ], \n      \"x86_64-linux.nixos-tega
[...]
