interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/Mic92/dotfiles/pulls/3016
  response:
    body:
      string: '{"url":"https://api.github.com/repos/Mic92/dotfiles/pulls/3016","id":2646302395,"node_id":"PR_kwDOEQQjd86du167","html_url":"https://github.com/Mic92/dotfiles/pull/3016","diff_url":"https://github.com/Mic92/dotfiles/pull/3016.diff","patch_url":"https://github.com/Mic92/dotfiles/pull/3016.patch","issue_url":"https://api.github.com/repos/Mic92/dotfiles/issues/3016","number":3016,"state":"open","locked":false,"title":"turingmachine:
        switch to amd-ai-300-series","user":{"login":"Mic92","id":96200,"node_id":"MDQ6VXNlcjk2MjAw","avatar_url":"https://avatars.githubusercontent.com/u/96200?v=4","gravatar_id":"","url":"https://api.github.com/users/Mic92","html_url":"https://github.com/Mic92","followers_url":"https://api.github.com/users/Mic92/followers","following_url":"https://api.github.com/users/Mic92/following{/other_user}","gists_url":"https://api.github.com/users/Mic92/gists{/gist_id}","starred_url":"https://api.github.com/users/Mic92/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Mic92/subscriptions","organizations_url":"https://api.github.com/users/Mic92/orgs","repos_url":"https://api.github.com/users/Mic92/repos","events_url":"https://api.github.com/users/Mic92/events{/privacy}","received_events_url":"https://api.github.com/users/Mic92/received_events","type":"User","user_view_type":"public","site_admin":false},"body":null,"created_at":"2025-07-07T10:43:56Z","updated_at":"2025-07-07T10:57:23Z","closed_at":null,"merged_at":null,"merge_commit_sha":"0059d4c44fa34d92735ac7d967899cf2803befc4","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[{"id":5607280546,"node_id":"LA_kwDOEQQjd88AAAABTjhPog","url":"https://api.github.com/repos/Mic92/dotfiles/labels/merge-queue","name":"merge-queue","color":"E1178D","default":false,"description":""}],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/Mic92/dotfiles/pulls/3016/commits","review_comments_url":"https://api.github.com/repos/Mic92/dotfiles/pulls/3016/comments","review_comment_url":"https://api.github.com/repos/Mic92/dotfiles/pulls/comments{/number}","comments_url":"https://api.github.com/repos/Mic92/dotfiles/issues/3016/comments","statuses_url":"https://api.github.com/repos/Mic92/dotfiles/statuses/d99ecef5b2c291d550f7f6c7a202d372b8dcbf2e","head":{"label":"Mic92:merge-when-green-joerg","ref":"merge-when-green-joerg","sha":"d99ecef5b2c291d550f7f6c7a202d372b8dcbf2e","user":{"login":"Mic92","id":96200,"node_id":"MDQ6VXNlcjk2MjAw","avatar_url":"https://avatars.githubusercontent.com/u/96200?v=4","gravatar_id":"","url":"https://api.github.com/users/Mic92","html_url":"https://github.com/Mic92","followers_url":"https://api.github.com/users/Mic92/followers","following_url":"https://api.github.com/users/Mic92/following{/other_user}","gists_url":"https://api.github.com/users/Mic92/gists{/gist_id}","starred_url":"https://api.github.com/users/Mic92/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Mic92/subscriptions","organizations_url":"https://api.github.com/users/Mic92/orgs","repos_url":"https://api.github.com/users/Mic92/repos","events_url":"https://api.github.com/users/Mic92/events{/privacy}","received_events_url":"https://api.github.com/users/Mic92/received_events","type":"User","user_view_type":"public","site_admin":false},"repo":{"id":285483895,"node_id":"MDEwOlJlcG9zaXRvcnkyODU0ODM4OTU=","name":"dotfiles","full_name":"Mic92/dotfiles","private":false,"owner":{"login":"Mic92","id":96200,"node_id":"MDQ6VXNlcjk2MjAw","avatar_url":"https://avatars.githubusercontent.com/u/96200?v=4","gravatar_id":"","url":"https://api.github.com/users/Mic92","html_url":"https://github.com/Mic92","followers_url":"https://api.github.com/users/Mic92/followers","following_url":"https://api.github.com/users/Mic92/following{/other_user}","gists_url":"https://api.github.com/users/Mic92/gists{/gist_id}","starred_url":"https://api.github.com/users/Mic92/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Mic92/subscriptions","organizations_url":"https://api.github.com/users/Mic92/orgs","repos_url":"https://api.github.com/users/Mic92/repos","events_url":"https://api.github.com/users/Mic92/events{/privacy}","received_events_url":"https://api.github.com/users/Mic92/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/Mic92/dotfiles","description":"My
        NixOS dotfiles","fork":false,"url":"https://api.github.com/repos/Mic92/dotfiles","forks_url":"https://api.github.com/repos/Mic92/dotfiles/forks","keys_url":"https://api.github.com/repos/Mic92/dotfiles/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Mic92/dotfiles/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Mic92/dotfiles/teams","hooks_url":"https://api.github.com/repos/Mic92/dotfiles/hooks","issue_events_url":"https://api.github.com/repos/Mic92/dotfiles/issues/events{/number}","events_url":"https://api.github.com/repos/Mic92/dotfiles/events","assignees_url":"https://api.github.com/repos/Mic92/dotfiles/assignees{/user}","branches_url":"https://api.github.com/repos/Mic92/dotfiles/branches{/branch}","tags_url":"https://api.github.com/repos/Mic92/dotfiles/tags","blobs_url":"https://api.github.com/repos/Mic92/dotfiles/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Mic92/dotfiles/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Mic92/dotfiles/git/refs{/sha}","trees_url":"https://api.github.com/repos/Mic92/dotfiles/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Mic92/dotfiles/statuses/{sha}","languages_url":"https://api.github.com/repos/Mic92/dotfiles/languages","stargazers_url":"https://api.github.com/repos/Mic92/dotfiles/stargazers","contributors_url":"https://api.github.com/repos/Mic92/dotfiles/contributors","subscribers_url":"https://api.github.com/repos/Mic92/dotfiles/subscribers","subscription_url":"https://api.github.com/repos/Mic92/dotfiles/subscription","commits_url":"https://api.github.com/repos/Mic92/dotfiles/commits{/sha}","git_commits_url":"https://api.github.com/repos/Mic92/dotfiles/git/commits{/sha}","comments_url":"https://api.github.com/repos/Mic92/dotfiles/comments{/number}","issue_comment_url":"https://api.github.com/repos/Mic92/dotfiles/issues/comments{/number}","contents_url":"https://api.github.com/repos/Mic92/dotfiles/contents/{+path}","compare_url":"https://api.github.com/repos/Mic92/dotfiles/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Mic92/dotfiles/merges","archive_url":"https://api.github.com/repos/Mic92/dotfiles/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Mic92/dotfiles/downloads","issues_url":"https://api.github.com/repos/Mic92/dotfiles/issues{/number}","pulls_url":"https://api.github.com/repos/Mic92/dotfiles/pulls{/number}","milestones_url":"https://api.github.com/repos/Mic92/dotfiles/milestones{/number}","notifications_url":"https://api.github.com/repos/Mic92/dotfiles/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Mic92/dotfiles/labels{/name}","releases_url":"https://api.github.com/repos/Mic92/dotfiles/releases{/id}","deployments_url":"https://api.github.com/repos/Mic92/dotfiles/deployments","created_at":"2020-08-06T05:40:40Z","updated_at":"2025-07-07T10:36:16Z","pushed_at":"2025-07-07T10:57:22Z","git_url":"git://github.com/Mic92/dotfiles.git","ssh_url":"git@github.com:Mic92/dotfiles.git","clone_url":"https://github.com/Mic92/dotfiles.git","svn_url":"https://github.com/Mic92/dotfiles","homepage":"","size":12544,"stargazers_count":656,"watchers_count":656,"language":"Python","has_issues":true,"has_projects":false,"has_downloads":false,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":37,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":4,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":["build-with-buildbot","hacktoberfest","managed-by-renovate","nix-flake","nixos-configuration","nixos-dotfiles"],"visibility":"public","forks":37,"open_issues":4,"watchers":656,"default_branch":"main"}},"base":{"label":"Mic92:main","ref":"main","sha":"4d9a98fcb9777b613dd1c2bdb0beff6ae94503a2","user":{"login":"Mic92","id":96200,"node_id":"MDQ6VXNlcjk2MjAw","avatar_url":"https://avatars.githubusercontent.com/u/96200?v=4","gravatar_id":"","url":"https://api.github.com/users/Mic92","html_url":"https://github.com/Mic92","followers_url":"https://api.github.com/users/Mic92/followers","following_url":"https://api.github.com/users/Mic92/following{/other_user}","gists_url":"https://api.github.com/users/Mic92/gi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/Mic92/dotfiles/commits/d99ecef5b2c291d550f7f6c7a202d372b8dcbf2e/check-runs
  response:
    body:
      string: '{"total_count":1,"check_runs":[{"id":45466948291,"name":"auto-merge-dependency-updates","node_id":"CR_kwDOEQQjd88AAAAKlgqSww","head_sha":"d99ecef5b2c291d550f7f6c7a202d372b8dcbf2e","external_id":"62925a87-a823-5153-8855-f341e5ffc4ab","url":"https://api.github.com/repos/Mic92/dotfiles/check-runs/45466948291","html_url":"https://github.com/Mic92/dotfiles/actions/runs/16115055302/job/45466948291","details_url":"https://github.com/Mic92/dotfiles/actions/runs/16115055302/job/45466948291","status":"completed","conclusion":"success","started_at":"2025-07-07T10:57:31Z","completed_at":"2025-07-07T10:57:36Z","output":{"title":null,"summary":null,"text":null,"annotations_count":1,"annotations_url":"https://api.github.com/repos/Mic92/dotfiles/check-runs/45466948291/annotations"},"check_suite":{"id":41283015067},"app":{"id":15368,"client_id":"Iv1.05c79e9ad1f6bdfa","slug":"github-actions","node_id":"MDM6QXBwMTUzNjg=","owner":{"login":"github","id":9919,"node_id":"MDEyOk9yZ2FuaXphdGlvbjk5MTk=","avatar_url":"https://avatars.githubusercontent.com/u/9919?v=4","gravatar_id":"","url":"https://api.github.com/users/github","html_url":"https://github.com/github","followers_url":"https://api.github.com/users/github/followers","following_url":"https://api.github.com/users/github/following{/other_user}","gists_url":"https://api.github.com/users/github/gists{/gist_id}","starred_url":"https://api.github.com/users/github/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github/subscriptions","organizations_url":"https://api.github.com/users/github/orgs","repos_url":"https://api.github.com/users/github/repos","events_url":"https://api.github.com/users/github/events{/privacy}","received_events_url":"https://api.github.com/users/github/received_events","type":"Organization","user_view_type":"public","site_admin":false},"name":"GitHub
        Actions","description":"Automate your workflow from idea to production","external_url":"https://help.github.com/en/actions","html_url":"https://github.com/apps/github-actions","created_at":"2018-07-30T09:30:17Z","updated_at":"2025-03-07T16:35:00Z","permissions":{"actions":"write","administration":"read","attestations":"write","checks":"write","contents":"write","deployments":"write","discussions":"write","issues":"write","merge_queues":"write","metadata":"read","models":"read","packages":"write","pages":"write","pull_requests":"write","repository_hooks":"write","repository_projects":"write","security_events":"write","statuses":"write","vulnerability_alerts":"read"},"events":["branch_protection_rule","check_run","check_suite","create","delete","deployment","deployment_status","discussion","discussion_comment","fork","gollum","issues","issue_comment","label","merge_group","milestone","page_build","project","project_card","project_column","public","pull_request","pull_request_review","pull_request_review_comment","push","registry_package","release","repository","repository_dispatch","status","watch","workflow_dispatch","workflow_run"]},"pull_requests":[{"url":"https://api.github.com/repos/Mic92/dotfiles/pulls/3016","id":2646302395,"number":3016,"head":{"ref":"merge-when-green-joerg","sha":"d99ecef5b2c291d550f7f6c7a202d372b8dcbf2e","repo":{"id":285483895,"url":"https://api.github.com/repos/Mic92/dotfiles","name":"dotfiles"}},"base":{"ref":"main","sha":"4d9a98fcb9777b613dd1c2bdb0beff6ae94503a2","repo":{"id":285483895,"url":"https://api.github.com/repos/Mic92/dotfiles","name":"dotfiles"}}}]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"c2cc81e4cdc68cd30b08e72987be59fb84947c04cfe6b11b6a6ba54132122757"'
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:public_key, gist, notifications, read:org, repo, workflow
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4819'
      X-RateLimit-Reset:
      - '1751888511'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '181'
      x-github-api-version-selected:
      - '2022-11-28'
      x-oauth-client-id:
      - 178c6fc778ccc68e1d6a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/Mic92/dotfiles/commits/d99ecef5b2c291d550f7f6c7a202d372b8dcbf2e/status
  response:
    body:
      string: '{"state":"failure","statuses":[{"url":"https://api.github.com/repos/Mic92/dotfiles/statuses/d99ecef5b2c291d550f7f6c7a202d372b8dcbf2e","avatar_url":"https://avatars.githubusercontent.com/u/96200?v=4","id":37489813725,"node_id":"SC_kwDOEQQjd88AAAAIupEo3Q","state":"success","description":"Build
        done.","target_url":"https://buildbot.thalheim.io/#/builders/53/builds/2267","context":"buildbot/nix-eval","created_at":"2025-07-07T10:58:28Z","updated_at":"2025-07-07T10:58:28Z"},{"url":"https://api.github.com/repos/Mic92/dotfiles/statuses/d99ecef5b2c291d550f7f6c7a202d372b8dcbf2e","avatar_url":"https://avatars.githubusercontent.com/u/96200?v=4","id":37489922776,"node_id":"SC_kwDOEQQjd88AAAAIupLS2A","state":"failure","description":"Build
        done.","target_url":"https://buildbot.thalheim.io/#/builders/53/builds/2267","context":"buildbot/nix-build","created_at":"2025-07-07T11:03:06Z","updated_at":"2025-07-07T11:03:06Z"}],"sha":"d99ecef5b2c291d550f7f6c7a202d372b8dcbf2e","total_count":2,"repository":{"id":285483895,"node_id":"MDEwOlJlcG9zaXRvcnkyODU0ODM4OTU=","name":"dotfiles","full_name":"Mic92/dotfiles","private":false,"owner":{"login":"Mic92","id":96200,"node_id":"MDQ6VXNlcjk2MjAw","avatar_url":"https://avatars.githubusercontent.com/u/96200?v=4","gravatar_id":"","url":"https://api.github.com/users/Mic92","html_url":"https://github.com/Mic92","followers_url":"https://api.github.com/users/Mic92/followers","following_url":"https://api.github.com/users/Mic92/following{/other_user}","gists_ur[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://buildbot.thalheim.io/api/v2/builders/53/builds/2267/steps
  response:
    body:
      string: "{\n  \"meta\": {\n    \"total\": 6\n  }, \n  \"steps\": [\n    {\n
        \     \"buildid\": 231542, \n      \"complete\": true, \n      \"complete_at\":
        1751885846, \n      \"hidden\": false, \n      \"locks_acquired_at\": 1751885846,
        \n      \"name\": \"worker_preparation\", \n      \"number\": 0, \n      \"results\":
        0, \n      \"started_at\": 1751885846, \n      \"state_string\": \"worker
        eve-001 ready\", \n      \"stepid\": 950732, \n      \"urls\": []\n    },
        \n    {\n      \"buildid\": 231542, \n      \"complete\": true, \n      \"complete_at\":
        1751885847, \n      \"hidden\": false, \n      \"locks_acquired_at\": 1751885846,
        \n      \"name\": \"git\", \n      \"number\": 1, \n      \"results\": 0,
        \n      \"started_at\": 1751885846, \n      \"state_string\": \"update\",
        \n      \"stepid\": 950733, \n      \"urls\": []\n    }, \n    {\n      \"buildid\":
        231542, \n      \"complete\": true, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://buildbot.thalheim.io/api/v2/builders/53/builds/2267
  response:
    body:
      string: "{\n  \"builds\": [\n    {\n      \"builderid\": 53, \n      \"buildid\":
        231542, \n      \"buildrequestid\": 232121, \n      \"complete\": true, \n
        \     \"complete_at\": 1751886185, \n      \"locks_duration_s\": 0, \n      \"masterid\":
        1, \n      \"number\": 2267, \n      \"properties\": {}, \n      \"results\":
        2, \n      \"started_at\": 1751885846, \n      \"state_string\": \"failed
        finished (failure)\", \n      \"workerid\": 19\n    }\n  ], \n  \"meta\":
        {}\n}"
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://buildbot.thalheim.io/api/v2/steps/950735/logs
  response:
    body:
      string: "{\n  \"logs\": [\n    {\n      \"complete\": true, \n      \"logid\":
        157193, \n      \"name\": \"scheduler\", \n      \"num_lines\": 508, \n      \"slug\":
        \"scheduler\", \n      \"stepid\": 950735, \n      \"type\": \"s\"\n    }\n
        \ ], \n  \"meta\": {\n    \"total\": 1\n  }\n}"
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://buildbot.thalheim.io/api/v2/builders/53/builds/2267/properties
  response:
    body:
      string: "{\n  \"meta\": {}, \n  \"properties\": [\n    {\n      \"aarch64-darwin.devShell-default-drv_path\":
        [\n        \"/nix/store/ggc1zsd1vp0yz8j2akj8b40m881ivxb3-nix-shell.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.devShell-default-out_path\":
        [\n        \"/nix/store/vhvdz4dr8ghblav9z3c2nj4kfv0j3hva-nix-shell\", \n        \"nix-eval-nix\"\n
        \     ], \n      \"aarch64-darwin.devShell-terraform-drv_path\": [\n        \"/nix/store/29szz0cjl20yf9fnqsxyp7pqaprkfppi-nix-shell.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.devShell-terraform-out_path\":
        [\n        \"/nix/store/f68b50srirc1b3zwr8lb1wmy55cpdi2f-nix-shell\", \n        \"nix-eval-nix\"\n
        \     ], \n      \"aarch64-darwin.home-manager-common-drv_path\": [\n        \"/nix/store/xg9v8m7f70cqcgrx27cn13k21wha5dm0-home-manager-generation.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.home-manager-common-out_path\":
        [\n        \"/nix/store/3j827m8hn94irrkxid4gmxq1zqxl898g-home-manager-generation\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.home-manager-macos-drv_path\":
        [\n        \"/nix/store/xk7iwvnnmhcn2a0pvdxjlmc7wpwij24j-home-manager-generation.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.home-manager-macos-out_path\":
        [\n        \"/nix/store/9gicc40ybwbqqb1kgq5m96afq1mv1ymb-home-manager-generation\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-blueutil-drv_path\":
        [\n        \"/nix/store/06swkx8ck9x05w3njmpkklhqjbl4rjhg-blueutil-2.10.0.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-blueutil-out_path\":
        [\n        \"/nix/store/fx6ma1a7mcjxfazbksci0qsrg680b8np-blueutil-2.10.0\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-buildbot-pr-check-drv_path\":
        [\n        \"/nix/store/82f2cdljflx8x6hlzlba5gwd5365ca4h-buildbot-pr-check-0.1.0.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-buildbot-pr-check-out_path\":
        [\n        \"/nix/store/13g264hh1zkzfxvk4bjky6jk2ka5lskm-buildbot-pr-check-0.1.0\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-claude-code-drv_path\":
        [\n        \"/nix/store/5wyc8vv7ha84aw8wcjxxqwk2046xag27-claude.drv\", \n
        \       \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-claude-code-out_path\":
        [\n        \"/nix/store/largycqbqi8r1jr8017nks07qlm006jq-claude\", \n        \"nix-eval-nix\"\n
        \     ], \n      \"aarch64-darwin.package-claude-md-drv_path\": [\n        \"/nix/store/n1v02j3mcjss0blklnym3fh59vnimj3x-claude-md-0.1.0.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-claude-md-out_path\":
        [\n        \"/nix/store/qjq8p9s5vi993dw022mmlhxrml3fzrdn-claude-md-0.1.0\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-create-calendar-invite-drv_path\":
        [\n        \"/nix/store/nahsj8d4ng24ra2f29h7lc8grfhdjvbn-create-calendar-invite-1.0.0.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-create-calendar-invite-out_path\":
        [\n        \"/nix/store/lkgwg1r3i7476askddg9kpwh8wrjkpf2-create-calendar-invite-1.0.0\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-db-cli-drv_path\":
        [\n        \"/nix/store/7h01g0pn628l3rmbs4x26bw4j12n3niv-db-cli-1.0.0.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-db-cli-out_path\":
        [\n        \"/nix/store/42wd7269aqchj31lbflhy0a7qs73kh25-db-cli-1.0.0\", \n
        \       \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-direnv-instant-drv_path\":
        [\n        \"/nix/store/vj9hil2ix27lv8n1vajlaw8g232mwr7h-direnv-instant-0.1.0.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-direnv-instant-out_path\":
        [\n        \"/nix/store/6bykni7jlna25qkasp4x13ppq676ca5v-direnv-instant-0.1.0\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-email-sync-drv_path\":
        [\n        \"/nix/store/0zldrgf5fi305is3cibsmna563vfnrf6-email-sync.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-email-sync-out_path\":
        [\n        \"/nix/store/bnf3mcpaplnv07w0601ph91afgsfis1w-email-sync\", \n
        \       \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-gitea-mcp-drv_path\":
        [\n        \"/nix/store/3xp6bs7h98v0biy8572jbjjpfzcl68rg-gitea-mcp-0.1.0.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-gitea-mcp-out_path\":
        [\n        \"/nix/store/q8j63ql30vca4vjp957hdiyg8raxysiw-gitea-mcp-0.1.0\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-gmaps-cli-drv_path\":
        [\n        \"/nix/store/7x2dx4h34v223cb4rm2safsy0s88lcql-gmaps-cli-0.1.0.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-gmaps-cli-out_path\":
        [\n        \"/nix/store/c3csm7cg9zslns842avbgcw5y7dkb9ja-gmaps-cli-0.1.0\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-kagi-search-drv_path\":
        [\n        \"/nix/store/1n845sn8afb8phs7z2ysacn5kvr7lgfz-kagi-search-0.1.0.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-kagi-search-out_path\":
        [\n        \"/nix/store/rxkqxgkhsnf0664yy37b49964l2rq0rx-kagi-search-0.1.0\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-merge-when-green-drv_path\":
        [\n        \"/nix/store/lag0rdj2bf4s5lgsjj81hk9q2cjq4nki-merge-when-green-0.2.0.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-merge-when-green-out_path\":
        [\n        \"/nix/store/754g6pp2p0fn8jcm2l6ph7brv9zw1sgn-merge-when-green-0.2.0\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-mergify-gen-config-drv_path\":
        [\n        \"/nix/store/q8p86qg9vkqkz19bfxlb0is7rp4ic640-python3.13-mergify-gen-config-1.0.0.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-mergify-gen-config-out_path\":
        [\n        \"/nix/store/r39975jx8rg6q3q599lcpgi85fhgkrvf-python3.13-mergify-gen-config-1.0.0\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-neovim-drv_path\":
        [\n        \"/nix/store/dgxwbmpg06r8y7hqai6mg2fx22l3vz4n-neovim-0.11.2.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-neovim-out_path\":
        [\n        \"/nix/store/402yjab67i5wiw8jy3ygmp0zcjx3zda9-neovim-0.11.2\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-nvim-drv_path\":
        [\n        \"/nix/store/z2b4khllwn0g1r2da2a993av60rqnsb0-nvim.drv\", \n        \"nix-eval-nix\"\n
        \     ], \n      \"aarch64-darwin.package-nvim-install-treesitter-drv_path\":
        [\n        \"/nix/store/95g5gkd3kl4vqrf56s406q1bd12sqrdy-nvim-install-treesitter.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-nvim-install-treesitter-out_path\":
        [\n        \"/nix/store/ypik46masm6ybfslh93icx6qy7hwvl1m-nvim-install-treesitter\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-nvim-open-drv_path\":
        [\n        \"/nix/store/njb0mc4wm0rsy6x8hm2pffsmbq39djvx-nvim-open.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-nvim-open-out_path\":
        [\n        \"/nix/store/hm2gkfilf961s7lwnhnl3kn5spzh7gx2-nvim-open\", \n        \"nix-eval-nix\"\n
        \     ], \n      \"aarch64-darwin.package-nvim-out_path\": [\n        \"/nix/store/g381ka9yzjhchsbwfq67wz1vv5hf6r09-nvim\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-nvim-treesitter-plugins-drv_path\":
        [\n        \"/nix/store/bmdhyspx1z26faa9qjwjq8cvnw0l4gkf-nvim-treesitter-plugins.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-nvim-treesitter-plugins-out_path\":
        [\n        \"/nix/store/2gkvbjq7pmnqphjj15bl7prda63gcd77-nvim-treesitter-plugins\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-paperless-cli-drv_path\":
        [\n        \"/nix/store/26cci7qssnvymxd7hnywqwj616i98rrz-paperless-cli-0.1.0.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-paperless-cli-out_path\":
        [\n        \"/nix/store/bypjnjvsgd029qp9b29fz8b7igz7kj2a-paperless-cli-0.1.0\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-systemctl-macos-drv_path\":
        [\n        \"/nix/store/campvr5mbmfyslfn2k9ml77byizkc20j-systemctl-macos-1.0.0.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-systemctl-macos-out_path\":
        [\n        \"/nix/store/xl3ikrmzjk6jwdhcb4kqshy2nj41fg66-systemctl-macos-1.0.0\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-tmux-mcp-drv_path\":
        [\n        \"/nix/store/ilzd528wjl4qrkzf71wfh859sg29l6zp-tmux-mcp-0.1.0.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.package-tmux-mcp-out_path\":
        [\n        \"/nix/store/rqq3cmlck69q2cyxvdxw7ia3sdf4dy1y-tmux-mcp-0.1.0\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.treefmt-drv_path\":
        [\n        \"/nix/store/1br6l9sbkpwfg0z6ypslvdj3zsy0lj90-treefmt-check.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-darwin.treefmt-out_path\":
        [\n        \"/nix/store/22hccvqyz3il35p769dcmpi1qzalddcq-treefmt-check\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.devShell-default-drv_path\":
        [\n        \"/nix/store/6cxc9hcz6bg2h73hcjylx3zaqkpqs8fy-nix-shell.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.devShell-default-out_path\":
        [\n        \"/nix/store/jbdcjsyd2r7bxjib7qpj561jpky0s9y5-nix-shell\", \n        \"nix-eval-nix\"\n
        \     ], \n      \"aarch64-linux.devShell-terraform-drv_path\": [\n        \"/nix/store/pa4kkwz4x79pf5n68jrq7mpamgqn7yla-nix-shell.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.devShell-terraform-out_path\":
        [\n        \"/nix/store/dy51wp9ysl0abdxazwkjgq4rfz9665a7-nix-shell\", \n        \"nix-eval-nix\"\n
        \     ], \n      \"aarch64-linux.home-manager-common-drv_path\": [\n        \"/nix/store/qa88va4f4mglap16qk0fiqj6yhniimaq-home-manager-generation.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.home-manager-common-out_path\":
        [\n        \"/nix/store/wnpcmj99724hqz4nhi65k30c0k9wrbzs-home-manager-generation\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.nixos-blob64-drv_path\":
        [\n        \"/nix/store/yaycdybdh4s6hgy7li19ns4kb2bhgysv-nixos-system-blob64-25.11.20250706.3bc1b6b.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.nixos-blob64-out_path\":
        [\n        \"/nix/store/37m1kjyl7fqrzcmfryrclcds8p119j59-nixos-system-blob64-25.11.20250706.3bc1b6b\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.nixos-matchbox-drv_path\":
        [\n        \"/nix/store/1bggz1ayf1hb7qb3i2a6mqhm0w3kgi58-nixos-system-matchbox-25.11.20250706.3bc1b6b.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.nixos-matchbox-out_path\":
        [\n        \"/nix/store/8pc4f9skzyyqb6bwzg55a5ncb0ihh8nr-nixos-system-matchbox-25.11.20250706.3bc1b6b\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.package-buildbot-pr-check-drv_path\":
        [\n        \"/nix/store/9z77gxws47nrsjk86c02s9lbf166jvvz-buildbot-pr-check-0.1.0.drv\",
        \n        \"nix-eval-nix\"\n      ], \n      \"aarch64-linux.package-buildbot-pr-check-out_path\":
[...]
