use nix
#PATH_add $(readlink -f nixops/scripts)
#export PYTHONPATH=$(readlink -f nixops):$PYTHONPATH
export AWS_ACCESS_KEY_ID='AKIAJDMNOZWFI7JTK7XA'
export AWS_SECRET_ACCESS_KEY='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'
